<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidprojet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidprojet">
        <activity android:name=".ParcoursCreateCarteActivity"></activity>
        <activity android:name=".GolfCreateCarteActivity" />
        <activity android:name=".TrouActivityCarte" />
        <activity android:name=".TrousActivityCarte" />
        <activity android:name=".MainMenuGolfActivity" />
        <activity android:name=".CarteDeScoreActivity" />
        <activity android:name=".GolfActivityCartes" />
        <activity android:name=".InformationsGolfActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".MainMenuUserActivity" />
        <activity android:name=".UploadParcours" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".TrousActivity" />
        <activity android:name=".GolfActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ParcoursActivity" />
        <activity android:name=".TrouActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>